services:
  llm-gateway:
    image: ${IMAGE_NAME}
    container_name: llm-gateway
    restart: unless-stopped

    ports:
      - "0.0.0.0:${PORT:-8060}:${PORT-8060}"

    environment:
      PORT: ${PORT:-8060}

      # LLM Settings
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OPEN_AI_API_KEY: ${OPEN_AI_API_KEY}

      # Default Models
      OPENAI_DEFAULT_MODEL: ${OPENAI_DEFAULT_MODEL:-gpt-4o-mini}
      GEMINI_DEFAULT_MODEL: ${GEMINI_DEFAULT_MODEL:-gemini-2.5-flash-lite}

      LLM_MODEL_NAME: ${LLM_MODEL_NAME:-gemini-2.5-flash-lite}

      # Observability
      LANGSMITH_TRACING: ${LANGSMITH_TRACING:-False}
      LANGSMITH_ENDPOINT: ${LANGSMITH_ENDPOINT:-https://api.smith.langchain.com}
      LANGSMITH_API_KEY: ${LANGSMITH_API_KEY}
      LANGSMITH_PROJECT: ${LANGSMITH_PROJECT:-gtrpgm}
    networks:
      - platform-net

networks:
  platform-net:
    external: true
